## FUNCIONES DE LOS STRING

.upper()
.lower()
.replace (esto, por esto) → reemplazar caracteres unos por otros.
.split( , ) → para coger un csv por filas y separar los valores por comas
concatenación → haciendo la suma de dos string, se concatenan

In [ ]:
texto2= 'Hola'
print(texto2, type(texto2))

texto = 'Mi texto,De,Python, Para'
print(texto2.upper()) #muestrame la variable en mayus
print(texto2.lower()) #muestrame la variable en minusc
texto2 = texto2.lower()
print(texto2) # ahora aparece en minúsculas porque hemos transformado directamente la variable a lower

In [ ]:
a = 11
print(a + 2)
print(a, type(a), a * 2)
a = '11'
print(a + '2') #CONCATENACIÓN
print(a, type(a), a + '2')

In [5]:
texto = 'Mi,Text0,De,Pyth0n,Para'
print(texto[0]+texto[1]) #coger caracteres de uno a uno y concatenarlos
print(texto[0:2]) #coger caracteres desde-hasta para texto y listas #Operaciones de Slicing
print(texto.split(',')) #Separa el texto/csv por comas en varias palabras (dentro de una lista)
print(texto.split(',')[2]) #Devuelve la palabra 'De', segundo elemento de la lista

a = texto.split(',') #otra opción: transformarlo y luego consultar con el print 
print(a[2],a[4])

Mi
Mi
['Mi', 'Text0', 'De', 'Pyth0n', 'Para']
De
De Para

In [4]:
a = "PytH0N;,,S3-#C0Me"
b = "El,mundo"
#print(a+b) # Python se come el mundo
#lo mejor es ir haciendo los cambios por pasos, no de forma conjunta

a = a.replace('0','O')
a = a.replace('3','e')
a = a.replace(';,,', ' ')
a = a.replace('-#',' ')
a = a.lower()
b = b.replace (',', ' ')
b = b.lower()
a = a.replace('p','P')
print(a + ' ' + b)

Python se come el mundo

### TRANSFORMACIÓN DE DATOS

In [6]:
lineaOrigen = "IBM,Data Scientist,95,Bangalore,₹11;91;950/yr"
lineaSeparada = lineaOrigen.split(',')

#print(len(lineaSeparada))
#print(lineaSeparada, type(lineaSeparada))

#VARIABLES

empresa = lineaSeparada[0].lower()
cargo = lineaSeparada[1].lower()
fiabilidad = lineaSeparada[2] #string
sueldo = lineaSeparada[4] #string

lineaDestino = [empresa, cargo, fiabilidad, sueldo]
print(lineaSeparada)

#TRANSFORMACIÓN
#tipificamos variable empresa según se pide
if(empresa == 'ibm'):
    empresa = '0'
elif(empresa == 'microsoft'):
    empresa = '1'
elif(empresa == 'apple'):
    empresa = '2'
else:
    empresa ='3'

#tipificamos variable cargo según se pide
if(cargo == 'data scientist'):
    cargo = '1'
elif(cargo == 'data analyst'):
    cargo = '2'
elif(cargo == 'data engineer'):
    cargo = '3'
else: 
    cargo ='4'

#tipificamos variable fiabilidad según se pide
if(fiabilidad <= '50'):
    fiabilidad = '1'
else:
    fiabilidad = '-1'
    
#tipificamos variable sueldo según se pide (cambiamos moneda a € y a tiempo mensual)
sueldo = sueldo.split( ';') #separamos con split para que nos valga para 1.000.000 yt para 11.000.000 y el cero lo coloque en su lugar(no siempre irá en 3ª posición)
sueldo = sueldo[0] +'0'+ sueldo[1] + sueldo[2] #metemos el cero (errata) después de los millones
sueldo = sueldo[1:9] #cogemos solo la parte numérica
sueldo = int(sueldo) #convertimos a número para operar con él
sueldo = round((0.011*sueldo/12),2) #tipo de cambio: 1 rupia = 0.011 euros
sueldo = str(sueldo)+' €/mes' #convertimos a str para añadirle el texto al final

#print(sueldo,type(sueldo))

#RESULTADO
lineaDestino = [empresa, cargo, fiabilidad, sueldo]
print(lineaDestino)

['IBM', 'Data Scientist', '95', 'Bangalore', '₹11;91;950/yr']
['0', '1', '-1', '10167.62 €/mes']

In [7]:
lineaOrigen = '19,20,/ Pearl Version,DS,2006.0,Role-Playing,Nintendo,6.32,4.34,6.04,1.35,18.05,90.0'
lineaSeparada = lineaOrigen.split(',')

print(lineaSeparada)

#crear variables
nombre = lineaSeparada[2].replace('/ ','').upper()
genero = lineaSeparada[5].lower()
ratio = round(float(lineaSeparada[11])/float(lineaSeparada[12]),2)
plataforma = lineaSeparada[3].lower()

#algoritmo, if…
if(plataforma == 'wii'):
    plataforma = '1'
elif(plataforma == 'ds'):
    plataforma = '2'
elif(plataforma == 'snes'):
    plataforma = '3'
elif(plataforma == 'ps3'):
    plataforma = '4'
elif(plataforma == 'x360'):
    plataforma = '5'
elif(plataforma == 'ps2'):
    plataforma = '6'
elif(plataforma == 'gba'):
    plataforma = '7'
else:
    plataforma = '-1'

if(genero == 'accion'):
    genero = '1'
elif(genero == 'sport'):
    genero = '2'
elif(genero == 'shoot'):
    genero = '3'
elif (genero == 'race'):
    genero = '4'
elif(genero == 'puzzle'):
    genero = '5'
elif(genero == 'misc'):
    genero = '6'
else: 
    genero = '7'

#RESULTADO
lineaDestino = [nombre, genero, ratio, plataforma]
print(lineaDestino)

['19', '20', '/ Pearl Version', 'DS', '2006.0', 'Role-Playing', 'Nintendo', '6.32', '4.34', '6.04', '1.35', '18.05', '90.0']
['PEARL VERSION', '7', 0.2, '2']